{% include head.html %}

{% yield Menu %}

{% if (1 === $entry['published'] || (Notes::$loggedInUser && Notes::$loggedInUser['handle'] === $user['handle'] && 0 === $entry['published'])): %}
{% $draft = (!$entry['published'])? '<span>Draft</span>' : '' %}

<article>
    {% $words = Notes::wordCount($entry['content']) %}
    {% $readingTime = Notes::getReadingTime($entry['content']) %}
    <h1>{{ $entry['title'] }}{{ $draft }}</h1>
    <section id="info">{{ $date }} &middot; {{ $words }} words, {{ ($readingTime < 1) ? 'about 1 minute' : $readingTime .' minute' }} read</section>
    {{ Notes::renderMarkdown($entry['content']) }}
</article>

<footer>
    {% if (!empty($entry['tags'])): %}
    {% $tags = explode(' ', trim($entry['tags'])) %}
    <ul id="tags">
    {% foreach ($tags as $tag): %}
        <li><a href="/~{{ $user['handle'] }}/tag/{{ $tag }}">#{{$tag}}</a></li>
    {% endforeach; %}
    </ul>
    {% endif; %}

    {% if (Notes::$loggedInUser && Notes::$loggedInUser['handle'] === $user['handle']): %}
    <section id="actions">
        <a id="delete" class="red" href="/delete/{{ $entry['slug'] }}">Delete</a>&nbsp;&nbsp;<a href="/edit/{{ $entry['slug'] }}">Edit</a>
    </section>
    {% endif; %}
</footer>

<script>
    const del = document.querySelector("#delete");
    if (del != null) {
        del.addEventListener('click', e => {
            if (!confirm("Are you sure you want to delete this entry?")) {
                e.preventDefault();
            }
        });
    }
</script>

{% endif; %}

<link rel="stylesheet"
      href="//unpkg.com/@highlightjs/cdn-assets@11.2.0/styles/base16/brewer.min.css">
<script src="//unpkg.com/@highlightjs/cdn-assets@11.2.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

{% include custom-css.html %}

{% include foot.html %}