{% $ogp = new OGP() %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="nofollow noarchive">
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/logo-128.png">
    <link rel="stylesheet" href="/Templates/style.css">
    <link rel="author" href="humans.txt">
    <link rel="preload" href="/Templates/Fonts/PublicSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/Templates/Fonts/PublicSans-BoldItalic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/Templates/Fonts/PublicSans-Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/Templates/Fonts/PublicSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/Templates/style.css">
    <link rel="stylesheet" href="/Templates/fonts.css">
    <link rel="stylesheet" href="/Templates/icons.css">
    {% $ogp->set('locale', 'en_US')->set('site_name', 'Diary.by')->set('title', BRAND_TEXT)->set('url', BRAND_URL) %}
    {% $ogp->set('description', BRAND_DESCRIPTION) %}
    {% if (isset($pagetype)): %}
        {% $ogp->set('url', Router::currentRoute()->current ) %}
        {% if ('list' === $pagetype || 'tag' === $pagetype): %}

        <meta name="title" content="{{ Notes::cc(Settings::get('metaTitle'), $user['name'], $user['handle']) }}">
        <meta name="description" content="{{ Settings::get('metaDescription') ?? '' }}">
        <link rel="alternate" type="application/rss+xml" title="{{ $pagetitle }}" href="/~{{ $user['handle'] }}/rss">
        {% $ogp->set('title', Notes::cc(Settings::get('metaTitle'), $user['name'], $user['handle'])) %}
        {% $ogp->set('description', Settings::get('metaDescription') ?? '' ) %}
        
        {% elseif ('entry' === $pagetype): %}

        <meta name="title" content="{{ $title }}">
        <meta name="description" content="{{ $entry['description'] }}">
        <link rel="alternate" type="application/rss+xml" title="{{ $pagetitle }}" href="/~{{ $user['handle'] }}/rss">
        <meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:description" content="{{ $entry['description'] }}">
		<meta name="twitter:title" content="{{ $pagetitle }}">
		<meta name="twitter:image" content="{{ BRAND_URL . '/og/' . $user['handle'] . DS . $entry['slug'] }}">
        {% $ogp->set('title', $pagetitle) %}
        {% $ogp->set('description', $entry['description'] ?? '' ) %}
        {% $ogp->set('image', BRAND_URL . '/og/' . $user['handle'] . DS . $entry['slug']) %}
        {% $ogp->set('type', 'article') %}

        {% endif; %}
    {% endif; %}
    {% $ogp->print() %}
    <title>{{ $pagetitle ?? BRAND_TEXT }}</title>
</head>
<body>
    <main data-type="{{ $pagetype ?? 'default' }}">
        {% include Menu.html %}
        {{ Notifications::show() }}