{% $latest = Notes::getLatestEntries(); %}

{% if(is_array($latest)): %}
<h2>Check out these latest entries</h2>
<ul id="latest-entries">
    {% foreach ($latest as $entry => $entrydata): %}
    <li>
        <a href="/~{{ $entrydata['handle'] }}/{{ $entrydata['slug'] }}">{{ $entrydata['title'] }}</a> by <a href="/~{{ $entrydata['handle'] }}">{{ Notes::cc($entrydata['name'], $entrydata['handle']) }}</a>.
    </li>
    {% endforeach; %}
</ul>
<span><a href="/help#discoverability">Want to appear here as well?</a></span>
{% endif; %}
