{% block Logo %}
    <a href="{{ ROOT_URL }}">{{ BRAND_LOGO }}</a>
{% endblock %}

{% block Crumbs %}
    {% if ($pagetype === 'list'): %}
    <h1 class="title">{{ Notes::cc(Settings::get('metaTitle'), $user['name'], $user['handle']) }}</h1>
    {% elseif ($pagetype === 'tag'): %}
    <h1 class="title"><a href="/~{{ $user['handle'] }}">{{ Notes::cc(Settings::get('metaTitle'), $user['name'], $user['handle']) }}</a></h1> / #{{ $tag }}
    {% elseif ($pagetype === 'entry'): %}
    <h1 class="title"><a href="/~{{ $user['handle'] }}">{{ Notes::cc(Settings::get('metaTitle'), $user['name'], $user['handle']) }}</a></h1>
    {% endif; %}
{% endblock %}

{% block Navigation %}
<nav>
    <ul>
        {% if (Session::isLoggedIn()): %}
        <li><a href="/new">New</a></li>
        <li><a href="/~{{ Notes::$loggedInUser['handle'] }}">Home</a></li>
        <li><a href="/logout">Logout</a></li>
        {% endif; %}
    </ul>
</nav>
{% endblock %}

<header>
    <div class="crumbs">
        {% if (isset($pagetype)): %}
            {% yield Crumbs %}
        {% else: %}
            <a href="/">{{ BRAND_LOGO }}</a>
        {% endif %}
    </div>
    {% yield Navigation %}
</header>