{% include head.html %}

<div><p>
    Don't remember your password? No worries, we'll send you a recovery link.<br>
    Once you get the recovery email, click the link and you will be able to reset your password.
</p>
<p>
    <ul>
        <li>Take note the link is valid for 15 minutes.</li>
        <li>Remember to check the spam folder as well, as the email could erroneously end up there.</li>
        <li><span class="red">Do not share this link with anyone!</span></li>
    </ul>
</p></div>

<form action="" method="post">
    <input type="email" name="email" id="email" autofocus required placeholder="Your email">

    <button type="submit">Reset password</button>
</form>

{% include foot.html %}