{% include head.html %}
<article>
    {% include title.html %}
    <form action="/register" method="post">
            <input type="text" name="username" id="username" autofocus required placeholder="Your username">
            <span>Required. This is your username and your diary address.</span>
        
            <input type="password" name="password" id="password" required minlength="8" placeholder="Your password">
            <span>Required. Obviously. Longer than 8 characters. Show password? <input type="checkbox" name="showpass" id="showpass"></span>
    
            <input type="text" name="realname" id="realname" placeholder="Display name">
            <span>Optional. Will be shown instead of your username.</span>
        
            <input type="email" name="email" id="email" required placeholder="Your email">
            <span>Required. We will never, EVER spam you.</span>
    
        <!-- <label for="code">Invitation Code
            <input type="text" name="code" id="code" required>
            <span>Required. Don't have one? Check out <a href="/help">help</a>.</span>
        </label> -->
    
        <button type="submit">Register</button>
    </form>
</article>

<script>
    const showpass = document.querySelector("#showpass");
    const password = document.querySelector("#password");
    showpass.addEventListener('change', e => {
        password.type = (password.type === 'password') ? 'text' : 'password';
    });
</script>
{% include foot.html %}